.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
about-me-1.Rmd
about-me-example.Rmd
about-me-example.docx
about-me-example.html
about-me-example.pdf
about-me.Rmd
about-me.html
about-me.log
about-me.tex
ref.bib.txt
